.filter-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.filter-selects {
  border-radius: 8px;
  width: 200px;
  font-size: 16px;
}

.filter-container > select {
  background-color: #fff;
  margin: 5px 5px;
  border: 1px #3b2f27 solid;
  color: #3b2f27;
  padding: 0.5em 1em;
  width: 200px;
  font-size: 16px;
  animation: fade--in 0.1s ease-in-out;
}

.filter-container > h2 {
  margin: 0 auto;
  text-align: left;
}

@keyframes fade--in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 570px) {
  .filter-container {
    display: block;
  }
}