.trail-container { /* div for whole TrailContainer */
    margin: 0 5%;
}

.card-container { /* div for section that displays all trail cards */
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
}

@media screen and (min-width: 700px) {
    .card-container { /* div for section that displays all trail cards */
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 1000px) {
    .card-container { /* div for section that displays all trail cards */
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}