/* General styles for the trail details */
.trail-details {
  font-family: "Arial", sans-serif;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 3em;
  margin-bottom: 150px;
}

.trail-details-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.trail-details-flex {
  display: flex;
  align-items: center;
  gap: 2em;
}

/* Styles for the trail overview section */
.trail-overview {
  margin-bottom: 20px;
}

.trail-details h1 {
  font-size: 24px;
  color: #EFF1ED;
}

/* Styles for the elevation profile container */
.trail-elevation-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden; /* Ensure children are contained within the parent's border */
}

/* Styles for images within the elevation profile container */
.trail-elevation-profile > img {
  flex-basis: calc(50% - 5px);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

/* Styles for the trail description section */
.trail-description {
  line-height: 1.3;
  margin-bottom: 20px;
}

/* Styles for the trail images section */
.trail-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.trail-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Styles for additional information section */
.trail-additional-info {
  margin-top: 20px;
}

/* General text styles for the trail details
.trail-details h1,
.trail-details h2,
.trail-details h3,
.trail-details h4,
.trail-details h5,
.trail-details h6,
.trail-details p,
.trail-details a {
  color: #EFF1ED;
}
 */

.text-left {
  text-align: justify;
  width: 98%;
}

.trail-additional-info > div { 
  color: #EFF1ED;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .trail-elevation-profile {
    display: block;
  }

  /* Adjust the styles for images within the elevation profile container on smaller screens */
  .trail-elevation-profile > img {
    width: 90%;
  }
  
  .trail-details-grid { /* Remove grid display */
    display: block;
}
}

