/* TODO: Move styling to TrailCard */
.trail-card {
    display: inline-block;
    margin: 30px;
}

.trail-card img {
    width: 100%;
    height: auto;
}

.card-overview {
    display: flex;
    justify-content: space-between;
}

.trail-card h3 {
    text-align: left;
    margin: 0;
}

.trail-card p {
    margin: 0;
}