.trail-images-unique {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.trail-images-unique .image-container {
  width: 100%;
  position: relative;
}

.trail-images-unique .arrow {
  position: absolute;
  top: 280px;
  cursor: pointer;
  font-size: 24px;
  color: #EFF1ED;
  font-weight: bold;
  padding: 0 0.5em;
  text-shadow: 1px 1px 5px black;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.vignette {
  position: absolute;
  box-shadow: -50px 0px 50px -30px #000000 inset, 50px 0px 50px -30px #000000 inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trail-images-unique .arrow:hover {
  transform: scale(1.3);
}

.trail-images-unique .photo-box {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
}

.trail-images-unique .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-description {
  width: 100%;
  background-color: #BCBD8B;
  padding: 0.em 0;
  margin-bottom: 15px;
}

.trail-images-unique .image-title p {
  font-weight: bold;
  font-size: small;
  color: #766153;
  margin: 0.5em;
}

.trail-images-unique .information-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

/* Styling for information box p-elements */
.trail-images-unique .information-box p {
  font-weight: bold;
  font-size: x-small;
  color: #766153;
}

@media (max-width: 900px) {
  .trail-images-unique .photo-box {
    max-height: 400px;
  }

  .trail-images-unique .arrow {
    top: 190px;
  }
}

@media (max-width: 600px) {
  .trail-images-unique .photo-box {
    max-height: 300px;
  }

  .trail-images-unique .arrow {
    top: 140px;
  }
}

@media (max-width: 450px) {
  .trail-images-unique .photo-box {
    max-height: 200px;
  }

  .trail-images-unique .arrow {
    top: 90px;
  }
}