.trail-images-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.trail-images-unique .image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.trail-images-unique .arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: #DADBA3;
  font-weight: bold;
}
*/

.trail-images-unique .image-container {
  width: 100%;
  position: relative;
}

.trail-images-unique .arrow {
  position: absolute;
  top: 280px;
  cursor: pointer;
  font-size: 24px;
  color: #EFF1ED;
  font-weight: bold;
  padding: 0 0.5em;
  text-shadow: 1px 1px 5px black;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.vignette {
  position: absolute;
  box-shadow: -50px 0px 50px -30px #000000 inset, 50px 0px 50px -30px #000000 inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trail-images-unique .arrow:hover {
  transform: scale(1.3);
}

.trail-images-unique .photo-box {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.trail-images-unique .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trail-images-unique .image-title p {
  font-weight: bold;
  font-size: small;
  color: #DADBA3;
}

.trail-images-unique .information-box {
  width: 100%;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Updated styles for information box */
.trail-images-unique .information-box p {
  font-weight: bold;
  font-size: x-small;
  color: #BCBD8B;
}